{
    margin: 0px;
    padding: 0px;
}

/*css*/
.header{
    height: 80px;
    width:100%;
    /*background-color: rgba(31,11,158,1);*/
    display: flex;
    justify-content: center;
    position: fixed;
}
.container{
    width: 90%;
    /*background-color: red;*/
    display: flex;
}
.header_container{
    justify-content: space-between;
    
}
.logo{
    height: 80px;
    width: 15%;
   /* background-color: beige;*/
    font-size: 40px;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bolder;
    color:white;
    line-height: 70px;
}
.nav{
    height: 80px;
    width: 40%;
   /* background-color: palegreen ;*/
    display: flex;
}
.nav-item{
    width: 20%;
    height: 80px;
   /* background-color: gray;*/
    font-size: 17px ;
    font-family: Segoe UI;
    text-align: center;
    line-height: 70px;
    color:white;
    cursor: pointer;
    transition: .4s;

}
.nav-item:hover{
    background-color: whitesmoke;
    color: rgba(31,11,158,1);
}

.banner{
    height: 95vh;
    width: 100%;
    background-color: gainsboro;
    background-image: url(https://www.istockphoto.com/photo/responsive-devices-on-home-desktop-showing-web-design-website-gm1224339524-359958755?utm_campaign=srp_photos_limitedresults&utm_content=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fwebdesign%2F&utm_medium=affiliate&utm_source=pexels&utm_term=webdesign);
    background-size: cover;
   
}
.overlay{
    height: 98vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;

   
}

.banner_text{
    height: 350px;
    width: 50%;
    background-color: rgba(31,11,158,0.7);
    font-family: Segoe UI;
    display: flex;
    align-items: center;
    color: white;
}
.banner_title{
    font-size:50px;
    margin-bottom: 15px;
    
}
.banner_desc{
    margin-bottom: 30px;
}
.padd{
    padding: 50px;
    
}
.banner_btn{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px; 
    text-transform: uppercase;
    background-color: transparent; 
    color: white;
    font-weight: bolder;
    font-family: Segoe UI;
    border: 3px solid white;
    cursor: pointer;
    transition: .3s;
    }
.banner_btn:hover{
    background-color: white;
    color: rgba(183,119,58,1);
}
/*css for services*/


.services{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#bbb5b5;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.services_container{
    margin-top: 50px;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    
    
    
}
.service{
    height: 300px;
    width: 40%;
    background-color: white;
    display: flex;
    color: black;
    margin-top: 20px;

    

}
.service_img{
    width: 40%;
    height: 300px;
   /* background-color: red;*/
    display: flex;
    overflow: hidden;
    border: 2px solid bisque;
    
}
.service_details{
    width: 40%;
    height: 300px;
    /*background-color: hotpink;*/
    display: flex;
    align-items: center;
}


.service_btn{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px; 
    text-transform: uppercase;
    background-color: rgba(31,11,158,1); 
    color: whitesmoke;
    font-weight: bolder;
    font-family: Segoe UI;
    border: none;
    cursor: pointer;
    transition: .3s;
    align-items: center;
    border: whitesmoke;

}
.service_title{
    margin-bottom: 15px;

}
.service_desc{
    margin-bottom: 50px;
}

/*css for about*/
.about{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
.about_container{
    margin-top: 30px;
    line-height: 30px;
    display:inline;
}
.start_text{
    font-size: 30px;
    font-weight: bolder;

}
/*css for highlight*/


.highlight{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-color: rgba(31,11,158,0.9);
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.high_ele{
    width: 30%;
    height: 200px;
    background-color: rgba(31,11,158,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color : whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;

}
.high_title{
    font-size: 40px;
}

.high_desc{
    font-size: 20px;
    
}

/* css for quote */
.quote{
    padding-top: 50px;
    padding-bottom: 50px;
    width:100%;
    background-color : whitesmoke;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.quote_container{
    flex-direction: column ;
    align-items: center;
}
.quote_title{
    font-size: 40px;
}
.quote_btn{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px; 
    text-transform: uppercase;
    background-color: rgba(31,11,158,1); 
    color: whitesmoke;
    font-weight: bolder;
    font-family: Segoe UI;
    border: none;
    cursor: pointer;
    transition: .3s;
    align-items: center;
    border: whitesmoke;
  
}

/* css for portfolio */

.portfolio{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d0cfcf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.portfolio_container{
    flex-wrap: wrap;
    margin-top: 20px;
}

.project{
    width: 25%;
    height: 280px;
    background-color: blueviolet;
    display: flex;
}

.pro_1{
    background-image: url(https://images.pexels.com/photos/3965545/pexels-photo-3965545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    align-items: flex-end;
}

.pro_2{
    background-image: url(https://images.pexels.com/photos/380782/pexels-photo-380782.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.pro_3{
    background-image: url(https://images.pexels.com/photos/4226100/pexels-photo-4226100.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    align-items: flex-end;
}

.pro_4{
    background-image: url(https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.pro_5{
    background-image: url(https://images.pexels.com/photos/1843655/pexels-photo-1843655.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    align-items: flex-end;
}

.pro_6{
    background-image: url(https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.pro_7{
    background-image: url(https://images.pexels.com/photos/2294353/pexels-photo-2294353.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    align-items: flex-end;
    
}

.pro_8{
    background-image: url(https://images.pexels.com/photos/358010/pexels-photo-358010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.pro_title{
    color:white;
    width: 100%;
    height:40px;
    text-indent: 40px;
    background-color: rgba(31,11,158,0.4);
    cursor: pointer;
    transition: 0.4s;
}
.pro_title:hover{
    height:200px;
}

/* css for footer */
.footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(110, 99, 99);
    display: flex;
    justify-content: center;
}
.footer_child{
    height: 250px;
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
.footer_child_1{
    align-items: center;
    color: white;
    font-size: 20px;
}
li{
    list-style-type: none;
    margin-bottom: 12px;
    color: whitesmoke;
}
.fir{
    font-size: 24px;
}
.footer_chi4{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.social_container{
    justify-content: space-between;
    width: 70%;
}

.social_icon{
    height: 40px;
    width: 50px;
    background-size: cover;

}

.sc1{
    background-image: url(https://live.staticflickr.com/7257/7797937684_1a9d9ab25f_n.jpg);
}
.sc2{
    background-image: url(https://cdn1.iconfinder.com/data/icons/google-new-logos-1/32/gmail_new_logo-128.png);
}
.sc3{
    background-image: url(https://farm66.staticflickr.com/65535/40721396033_3cf42615f9_n.jpg);
}
.sc4{
    background-image: url(https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-03-128.png);
}
